.jumbotron.center
  %span#title1
    %h1.glyphicon.glyphicon-fire Chestnut
  %p.lead
    #title2
      Your personal lending library.
  - if !current_user
    = link_to "<span class= 'glyphicon glyphicon-fire'></span> Register or sign in with Facebook!".html_safe, "/auth/facebook", id: "sign_in", :class => "btn btn-lg btn-success"
  - else
    = link_to "My Library", books_path, class: "btn btn-lg btn-primary"
- if current_user == nil
  .row.marketing
    = render 'marketing'
- else current_user
  .row.marketing
    = render 'stream'
