---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/api/books?bibkeys=ISBN:1594480001&format=json&jscmd=data
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - ! '"IB 1 0.040 MC 3 0.002 TT 0 0.045"'
    body:
      encoding: US-ASCII
      string: ! '{"ISBN:1594480001": {"publishers": [{"name": "Riverhead Books"}],
        "pagination": "xii, 371 p. ;", "identifiers": {"isbn_13": ["9781594480003"],
        "openlibrary": ["OL24966287M"], "isbn_10": ["1594480001"], "oclc": ["62892536"]},
        "classifications": {"lc_classifications": ["PS3608.O525 K58 2005"]}, "title":
        "The kite runner", "url": "https://openlibrary.org/books/OL24966287M/The_kite_runner",
        "notes": "Readers Guide inside, at end of book.", "number_of_pages": 371,
        "subject_places": [{"url": "https://openlibrary.org/subjects/place:afghanistan",
        "name": "Afghanistan"}, {"url": "https://openlibrary.org/subjects/place:k\u0101bol_(afghanistan)",
        "name": "K\u0101bol (Afghanistan)"}], "subjects": [{"url": "https://openlibrary.org/subjects/male_friendship",
        "name": "Male friendship"}, {"url": "https://openlibrary.org/subjects/fiction",
        "name": "Fiction"}, {"url": "https://openlibrary.org/subjects/betrayal", "name":
        "Betrayal"}, {"url": "https://openlibrary.org/subjects/boys", "name": "Boys"},
        {"url": "https://openlibrary.org/subjects/social_classes", "name": "Social
        classes"}, {"url": "https://openlibrary.org/subjects/new_york_times_bestseller",
        "name": "New York Times bestseller"}, {"url": "https://openlibrary.org/subjects/nyt:trade_fiction_paperback=2009-09-26",
        "name": "nyt:trade_fiction_paperback=2009-09-26"}], "publish_date": "2005",
        "key": "/books/OL24966287M", "authors": [{"url": "https://openlibrary.org/authors/OL1412764A/Khaled_Hosseini",
        "name": "Khaled Hosseini"}], "by_statement": "Khaled Hosseini", "publish_places":
        [{"name": "New York"}]}}'
  recorded_at: Thu, 26 Dec 2013 18:24:15 GMT
recorded_with: VCR 2.8.0
