%h2 Friends' Libraries

%table.table.table-hover
  %thead
    %tr
      / %th #
      %th Title
      %th Author
      %th Owner
  %tbody
    - if @friends_book_ownings
      - @friends_book_ownings.each do |record|
        %tr
          / %td #
          %td
            = record.book.title
            %a(href="http://www.amazon.com/exec/obidos/tg/detail/-/#{record.book.isbn10}")
              View on Amazon
          %td= record.book.author
          %td= link_to record.owner.name, user_library_items_path(record.owner)
