---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?q=1984
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ol-Stats:
      - ! '"SR 1 0.787 TT 0 0.820"'
    body:
      encoding: US-ASCII
      string: ! "{\n \"start\": 0, \n \"num_found\": 37846, \n \"numFound\": 37846,
        \n \"docs\": [\n  {\n   \"title_suggest\": \"1984\", \n   \"edition_key\":
        [\n    \"OL24969091M\", \n    \"OL25430720M\", \n    \"OL24976268M\", \n    \"OL24382006M\",
        \n    \"OL25175311M\"\n   ], \n   \"cover_i\": 7222246, \n   \"isbn\": [\n
        \   \"8423337324\", \n    \"0451516753\", \n    \"0451521234\", \n    \"9780451516756\",
        \n    \"9780451521231\", \n    \"9788423337323\"\n   ], \n   \"has_fulltext\":
        true, \n   \"text\": [\n    \"OL24969091M\", \n    \"OL25430720M\", \n    \"OL24976268M\",
        \n    \"OL24382006M\", \n    \"OL25175311M\", \n    \"8423337324\", \n    \"0451516753\",
        \n    \"0451521234\", \n    \"9780451516756\", \n    \"9780451521231\", \n
        \   \"9788423337323\", \n    \"George Orwell\", \n    \"30301247\", \n    \"1984novelorwe00orwe\",
        \n    \"OL118077A\", \n    \"Accessible book\", \n    \"Dystopia\", \n    \"Classic\",
        \n    \"Protected DAISY\", \n    \"a novel\", \n    \"1984\", \n    \"OL15411722W\",
        \n    \"by George Orwell\", \n    \"by George Orwell ; with an afterword by
        Erich Fromm\", \n    \"Nineteen Eighty Four\", \n    \"Nineteen eighty-four.\",
        \n    \"New American Library\", \n    \"Destino\", \n    \"Signet Classics\",
        \n    \"New American Library of World Literature\", \n    \"Eric Arthur Blair\",
        \n    \"ORWELL, GEORGE, 1903-1950.\", \n    \"George Orwell\", \n    \"Winston
        Smith\", \n    \"Big Brother\", \n    \"England\", \n    \"London\", \n    \"1984\"\n
        \  ], \n   \"author_name\": [\n    \"George Orwell\"\n   ], \n   \"oclc\":
        [\n    \"30301247\"\n   ], \n   \"ia\": [\n    \"1984novelorwe00orwe\"\n   ],
        \n   \"author_key\": [\n    \"OL118077A\"\n   ], \n   \"subject\": [\n    \"Accessible
        book\", \n    \"Dystopia\", \n    \"Classic\", \n    \"Protected DAISY\"\n
        \  ], \n   \"title\": \"1984\", \n   \"ia_collection_s\": \"printdisabled;americana;internetarchivebooks\",
        \n   \"publish_date\": [\n    \"1981\", \n    \"1949\", \n    \"1950\", \n
        \   \"2007\", \n    \"1961\"\n   ], \n   \"ebook_count_i\": 1, \n   \"publish_place\":
        [\n    \"New York\", \n    \"New York, NY\", \n    \"Barcelona, Spain\"\n
        \  ], \n   \"ia_box_id\": [\n    \"IA126204\"\n   ], \n   \"edition_count\":
        5, \n   \"key\": \"OL15411722W\", \n   \"public_scan_b\": false, \n   \"publisher\":
        [\n    \"New American Library\", \n    \"Destino\", \n    \"Signet Classics\",
        \n    \"New American Library of World Literature\"\n   ], \n   \"language\":
        [\n    \"spa\", \n    \"eng\"\n   ], \n   \"last_modified_i\": 1378880094,
        \n   \"first_publish_year\": 1949, \n   \"author_alternative_name\": [\n    \"Eric
        Arthur Blair\", \n    \"ORWELL, GEORGE, 1903-1950.\", \n    \"George Orwell\"\n
        \  ], \n   \"cover_edition_key\": \"OL25430720M\", \n   \"person\": [\n    \"Winston
        Smith\", \n    \"Big Brother\"\n   ], \n   \"publish_year\": [\n    2007,
        \n    1949, \n    1950, \n    1961, \n    1981\n   ], \n   \"printdisabled_s\":
        \"OL24382006M\", \n   \"place\": [\n    \"England\", \n    \"London\"\n   ],
        \n   \"time\": [\n    \"1984\"\n   ]\n  }, \n  {\n   \"title_suggest\": \"On
        1984\", \n   \"publisher\": [\n    \"Books On Tape\", \n    \"Plume\", \n
        \   \"Books on Tape\", \n    \"Books on Tape, Inc.\"\n   ], \n   \"isbn\":
        [\n    \"5557083243\", \n    \"9785557083249\", \n    \"9780736609692\", \n
        \   \"9785553672157\", \n    \"0736609695\", \n    \"5553672155\"\n   ], \n
        \  \"has_fulltext\": false, \n   \"language\": [\n    \"eng\"\n   ], \n   \"edition_count\":
   [...]
