/ %h2 Add a new book
/ = form_for @books do |f|
/   = f.label :isbn10, "Search by ISBN-10: "
/   = f.text_field :isbn10
/   = f.submit "Find my book", class: "btn btn-lg btn-primary"



%h2 Catalogue Your Books
%br
%h4 Add a new book
= form_tag user_library_items_path(current_user), method: "get" do
  = text_field_tag :search_query, nil, placeholder: 'Keywords, author or ISBN', size: 30
  = submit_tag "Find my book", class: 'btn btn-primary'