- if params[:search_query]
  %h2 Select your book
  %table.table.table-hover
    %thead
      %tr
        %th 
        %th Title
        %th Author
        %th Published
    - @book_results.each_with_index do |record, i|
      %tr
        %td= i+1
        %td= record[0][:book_title] if record[0]
        %td= record[1][:book_author] if record[1]
        %td= record[2][:book_date] if record[2]

