.container
  .row
  = render 'add_book'
  
  .row
    %h2
      - if @library_owner.profile_picture
        = image_tag(@library_owner.profile_picture, class: "circular")
      #{@library_owner.name}'s Library
    = render 'borrowed_and_owned_books'