---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?q=empire%20falls%20russo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ol-Stats:
      - ! '"SR 1 0.087 TT 0 0.088"'
    body:
      encoding: US-ASCII
      string: ! "{\n \"start\": 0, \n \"num_found\": 2, \n \"numFound\": 2, \n \"docs\":
        [\n  {\n   \"title_suggest\": \"Empire Falls\", \n   \"edition_key\": [\n
        \   \"OL24549302M\", \n    \"OL3957257M\", \n    \"OL3952297M\", \n    \"OL23277456M\",
        \n    \"OL17058942M\", \n    \"OL13356624M\", \n    \"OL9854273M\"\n   ],
        \n   \"cover_i\": 418040, \n   \"isbn\": [\n    \"0375726403\", \n    \"9780786236510\",
        \n    \"9780307275134\", \n    \"9780679432470\", \n    \"0679432477\", \n
        \   \"0307275132\", \n    \"0786236515\", \n    \"9788495908292\", \n    \"8495908298\",
        \n    \"9780375726408\"\n   ], \n   \"has_fulltext\": true, \n   \"text\":
        [\n    \"OL24549302M\", \n    \"OL3957257M\", \n    \"OL3952297M\", \n    \"OL23277456M\",
        \n    \"OL17058942M\", \n    \"OL13356624M\", \n    \"OL9854273M\", \n    \"0375726403\",
        \n    \"9780786236510\", \n    \"9780307275134\", \n    \"9780679432470\",
        \n    \"0679432477\", \n    \"0307275132\", \n    \"0786236515\", \n    \"9788495908292\",
        \n    \"8495908298\", \n    \"9780375726408\", \n    \"Richard Russo\", \n
        \   \"Luis Murillo Fort (Tran[...]
